{
    "env": {
        "test": {
            "compact": true,
            "comments": false,
            "plugins": [
                "transform-class-properties",
                "transform-inline-environment-variables"
            ],
            "presets": [
                "es2015",
                "react",
                "stage-2"
            ]
        },

        "development": {
            "comments": false,
            "compact": true,
            "plugins": [
                "transform-class-properties",
                "transform-inline-environment-variables"
            ],
            "presets": [
                "es2015-rollup",
                "react",
                "stage-2"
            ]
        },

        "production": {
            "plugins": [
                "transform-class-properties",
                "transform-react-remove-prop-types",
                "transform-inline-environment-variables"
            ],
            "presets": [
                "es2015-rollup",
                "react",
                "stage-2"
            ]
        },

        "site-development": {
            "plugins": [
                "react-docgen",
                "transform-class-properties",
                "transform-inline-environment-variables"
            ],
            "presets": [
                "es2015",
                "react",
                "stage-2"
            ]
        },

        "site-production": {
            "plugins": [
                "react-docgen",
                "transform-class-properties",
                "transform-react-remove-prop-types",
                "transform-inline-environment-variables"
            ],
            "presets": [
                "es2015",
                "react",
                "stage-2"
            ]
        }
    }
}
