{
    "env": {
        "development": {
            "plugins": [
                "transform-class-properties"
            ],
            "presets": [
                "es2015",
                "react",
                "stage-2"
            ]
        },

        "rollup-development": {
            "comments": false,
            "compact": true,
            "plugins": [
                "external-helpers",
                "transform-class-properties"
            ],
            "presets": [
                ["es2015", {"modules": false}],
                "react",
                "stage-2"
            ]
        },

        "production": {
            "plugins": [
                "external-helpers",
                "transform-class-properties",
                "transform-react-remove-prop-types"
            ],
            "presets": [
                ["es2015", {"modules": false}],
                "react",
                "stage-2"
            ]
        },

        "site-development": {
            "plugins": [
                "react-docgen",
                "transform-class-properties"
            ],
            "presets": [
                "es2015",
                "react",
                "stage-2"
            ]
        },

        "site-production": {
            "plugins": [
                "react-docgen",
                "transform-class-properties",
                "transform-react-remove-prop-types"
            ],
            "presets": [
                "es2015",
                "react",
                "stage-2"
            ]
        },

        "test": {
            "compact": true,
            "comments": false,
            "plugins": [
                "transform-class-properties"
            ],
            "presets": [
                "es2015",
                "react",
                "stage-2"
            ]
        }
    }
}
