{
    "env": {
        "test": {
            "compact": true,
            "comments": false,
            "plugins": [
                "transform-class-properties",
                "transform-inline-environment-variables",
                ["transform-react-jsx", {"pragma": "createElement"}]
            ],
            "presets": [
                "es2015",
                "react",
                "stage-2"
            ]
        },

        "development": {
            "comments": false,
            "compact": true,
            "plugins": [
                "lodash",
                "transform-class-properties",
                "transform-inline-environment-variables",
                ["transform-react-jsx", {"pragma": "createElement"}]
            ],
            "presets": [
                ["es2015", {"modules": false}],
                "react",
                "stage-2"
            ]
        },

        "production": {
            "compact": true,
            "comments": false,
            "plugins": [
                "lodash",
                "transform-class-properties",
                "transform-react-remove-prop-types",
                "transform-inline-environment-variables",
                ["transform-react-jsx", {"pragma": "createElement"}]
            ],
            "presets": [
                ["es2015", {"modules": false}],
                "react",
                "stage-2"
            ]
        },

        "site-development": {
            "compact": true,
            "comments": false,
            "plugins": [
                "lodash",
                "react-docgen",
                "transform-class-properties",
                "transform-inline-environment-variables",
                ["transform-react-jsx", {"pragma": "createElement"}]
            ],
            "presets": [
                ["es2015", {"modules": false}],
                "react",
                "stage-2"
            ]
        },

        "site-production": {
            "compact": true,
            "comments": false,
            "plugins": [
                "lodash",
                "react-docgen",
                "transform-class-properties",
                ["transform-react-remove-prop-types", {
                    "ignoreFilenames": [
                        "node_modules/react-router"
                    ]
                }],
                "transform-inline-environment-variables",
                ["transform-react-jsx", {"pragma": "createElement"}]
            ],
            "presets": [
                ["es2015", {"modules": false}],
                "react",
                "stage-2"
            ]
        }
    }
}
