# general things
npm-debug.log
.DS_Store
node_modules/
.sass-cache/

# build things
coverage/
site/public/index.html
site/public/**/*.css
site/public/**/bundle.js
site/public/**/bundle.min.js
docs/sdk/
packages/*/dist
