@import "_globals";

html {
    font-family: San Francisco, Helvetica Neue, Helvetica, sans-serif;
}

body {
    background: #FFF;
    color: $color-text-body;
    line-height: 1.4;
    overflow-x: hidden;
    margin: 0;
    padding: 0 0 400px 20.1em;
}

figure {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5rem;
}

h4 {
    color: #CCC;
    text-transform: uppercase;
}

::selection {
    background-color: rgba($color-accent, 0.3);
}

.ui-demo-header {
    // safari is tempermental about rgba -> rgb gradients, so we need to emulate using all rgba
    background: linear-gradient(to left, rgba($color-accent, 0.075) 0%, rgba($color-accent, 0) 50%, rgba($color-accent, 0) 100%);
    border-right: 1px solid rgba($color-accent, 0.35);
    position: fixed;
    top: 0;
    left: 0;
    width: 16em;
    padding: 2em;
    bottom: 0;
    overflow-y: auto;
}

.ui-demo-header-title,
.ui-demo-header-desc {
    margin-bottom: 1rem;
}

.ui-demo-header-desc {
    color: darken($color-accent, 30%);
}

.ui-demo-nav {
    margin-top: 2rem;
}

.ui-demo-nav-item {
    color: $color-accent;
    display: block;
    margin-bottom: 0.5em;
    text-decoration: none;
}

.ui-demo-nav-item::after {
    content: ' →';
}

.ui-demo-nav-item:hover {
    color: darken($color-accent, 15%);
    text-decoration: underline;
}

.ui-demo-section {
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 2em;
}

.ui-demo-section:last-of-type {
    border-bottom: 0;
}

.ui-demo-section-title {
    flex-basis: 300px;
    flex-shrink: 0;
    margin: 0;
}

.ui-demo-section-description {
    color: #AAA;
    display: block;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 0.5em;
}

.ui-demo-section-example {
    align-self: center;
    padding-left: 2em;
    flex-basis: calc(100% - 300px);
    box-sizing: border-box;
}

.ui-offscreen {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.ui-spread-even {
    display: flex;
    align-items: flex-start;
}

.ui-spread-even > * {
    flex: 100% 1 1;
}

.ui-align-end {
    align-items: flex-end;
}

.ui-center {
    text-align: center;
}
