html {
    font-family: San Francisco, Helvetica Neue, Helvetica, sans-serif;
}

body {
    background-color: #F4F4F4;
    color: #222;
    line-height: 1.4;
    overflow-x: hidden;
    padding: 1em 1em 400px 21em;
}

figure {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5rem;
}

h4 {
    color: #CCC;
    text-transform: uppercase;
}

::selection {
    background-color: rgba(83,124,59,0.3);
}

.ui-demo-header {
    background-color: #537C3B;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 16em;
    padding: 2em;
    bottom: 0;
    overflow-y: auto;
}

.ui-demo-header-desc {
    color: #1C4106;
    margin: 0;
}

.ui-demo-header-title,
.ui-demo-header-desc {
    margin-bottom: 1rem;
}

.ui-demo-nav {
    margin-top: 2rem;
}

.ui-demo-nav-item {
    color: #AAD093;
    display: block;
    margin-bottom: 0.5em;
    text-decoration: none;
}

.ui-demo-nav-item::after {
    content: ' →';
}

.ui-demo-nav-item:hover {
    color: #FFF;
    text-decoration: underline;
}

.ui-demo-section {
    background: #FEFEFE;
    margin: 0;
    padding: 1em;
}

.ui-demo-section + .ui-demo-section {
    margin: 1rem 0 0;
}

.ui-demo-section-title {
    display: flex;
    align-items: baseline;
    margin-bottom: 1em;
}

.ui-demo-section-description {
    color: #AAA;
    font-size: 0.75em;
    font-weight: 400;
    margin-left: 10px;
    white-space: nowrap;
}

.ui-offscreen {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.ui-spread-even {
    display: flex;
    align-items: flex-start;
}

.ui-spread-even > * {
    flex: 100% 1 1;
}

.ui-align-end {
    align-items: flex-end;
}

.ui-center {
    text-align: center;
}
