@require "variables";

*,
*::before,
*::after {
    box-sizing: border-box;
}

.b-offscreen {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


// Children receive the variables, etc from above.
@require "packages/*/style.styl"

