// Skin-specific styles go here. Demo-specific styles go in demo/style.styl.

.ui-typeahead-wrapper {
    font-size: fontSize-input;
    position: relative;
}

.ui-typeahead-hint + .ui-textual-input-wrapper .ui-textual-input-placeholder {
    background: transparent;
}

.ui-typeahead-match-wrapper {
    background: background-UITypeaheadInput_match_wrapper;
    border-bottom-left-radius: borderRadius;
    border-bottom-right-radius: borderRadius;
    box-shadow: boxShadow-UITypeaheadInput_match_wrapper;
    margin-top: -1px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 99;
}

.ui-typeahead-match {
    color: color-UITypeaheadInput_match;
    cursor: pointer;
    font-size: 13px;
    line-height: 1;
    padding: 0.25em 0.5em;
}

.ui-typeahead-match:hover {
    background: background-UITypeaheadInput_match-hover;
    color: color-UITypeaheadInput_match-hover;

    .ui-typeahead-match-highlight {
        background: background-UITypeaheadInput_match_highlight-hover;
        color: color-UITypeaheadInput_match_highlight-hover;
        font-weight: bolder;
    }
}

.ui-typeahead-match-selected,
.ui-typeahead-match-selected:hover {
    background: background-UITypeaheadInput_match-selected;
    color: color-UITypeaheadInput_match-selected;

    .ui-typeahead-match-highlight {
        background: background-UITypeaheadInput_match_highlight-selected-hover;
        color: color-UITypeaheadInput_match_highlight-selected-hover;
        font-weight: bolder;
    }
}

.ui-typeahead-match-highlight {
    background: background-UITypeaheadInput_match_highlight;
    color: color-UITypeaheadInput_match_highlight;
    font-weight: bolder;
}

.ui-typeahead-match-selected .ui-typeahead-match-highlight {
    background: background-UITypeaheadInput_match_highlight-selected;
    color: color-UITypeaheadInput_match_highlight-selected;
}
