// Skin-specific styles go here. Demo-specific styles go in demo/style.styl.

.ui-modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.ui-modal-wrapper .ui-dialog-wrapper {
    flex-shrink: 0;
    max-width: 80vw;
    position: relative;
}

.ui-modal-mask {
    background: background-UIModal_mask;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
