// Skin-specific styles go here. Demo-specific styles go in demo/style.styl.

@import "../_globals"

.ui-modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.ui-modal-wrapper .ui-dialog {
    position: relative;
}

.ui-modal-mask {
    background: rgba(#FFF, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
