@import "../../_globals";

.ui-checkbox-wrapper {
    display: flex;
}

.ui-checkbox,
.ui-checkbox-label {
    cursor: pointer;
}

.ui-checkbox-label {
    line-height: 1.1;
    padding-left: 0.25em;
}

.ui-checkbox {
    appearance: none;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: none;
    flex-shrink: 0;
    margin: 0 3px 0;
    padding: 0;
    height: 16px;
    width: 16px;

    transition: border-color 200ms ease;
}

.ui-checkbox:hover,
.ui-checkbox:focus {
    border-color: $color-accent;
}

.ui-checkbox-checked {
    background-color: $color-accent;
}

.ui-checkbox-mixed {
    background: linear-gradient(135deg, rgba($color-accent, 1) 50%, rgba(#fff, 0) 50%, rgba(#fff, 0) 100%);
}

.ui-checkbox-checked,
.ui-checkbox-mixed {
    box-shadow: 0 0 0 1px #FFF inset;
}
