// Skin-specific styles go here. Demo-specific styles go in demo/style.styl.

.ui-radio-wrapper {
    display: flex;
}

.ui-radio,
.ui-radio-label {
    cursor: pointer;
}

.ui-radio {
    appearance: none;
    background: background-UIRadio;
    border: 1px solid borderColor-UIRadio;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 1px 3px 0;
    padding: 0;
    height: 16px;
    width: 16px;

    transition: border-color 200ms ease;
}

.ui-radio:hover {
    background: background-UIRadio-hover;
    border-color: borderColor-UIRadio-hover;
}

.ui-radio:focus {
    background: background-UIRadio-focus;
    border-color: borderColor-UIRadio-focus;
}

.ui-radio-selected,
.ui-radio-selected:hover,
.ui-radio-selected:focus,
.ui-radio-selected:active {
    background: background-UIRadio-selected;
    box-shadow: 0 0 0 2px boxShadowColor-UIRadio-selected inset;
}

.ui-radio-label {
    line-height: 1.2;
    margin-left: 0.25em;
}
