<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Boundless is a toolkit of React components and helper utilities focused on accessibility, performance, and composition." />
        <meta name="theme-color" content="#272b33" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div id="root"></div>

        <% if (htmlWebpackPlugin.options.customization.PRODUCTION) { %>
        <script>!function(){var e=sessionStorage.redirect;delete sessionStorage.redirect,e&&e!=location.href&&history.replaceState(null,null,e)}();</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"></script>
        <script defer>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-91553282-1', 'auto');
          ga('send', 'pageview');
        </script>
        <% } %>

        <script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-javascript.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-bash.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-jsx.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-stylus.min.js"></script>
        <script src="//cdn.polyfill.io/v2/polyfill.js?features=fetch,promise"></script>
    </body>
</html>
<!-- Built from SHA: <%= htmlWebpackPlugin.options.customization.githubSHA %> -->
