/*
Nothing to see here :)
Idea by @screenshake
linkedin.com/in/saranshsinha
*/

random(min, max)
  return math(0, 'random') * max + min

multiple-box-shadow($n)
    $value = '%svw %svh #FFF' % (random(0, 100) random(0, 100))

    for $i in (2..$n)
      $value = '%s, %svw %svh #FFF' % ($value random(0, 100) random(0, 100))

    unquote($value)

@keyframes parallax {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100vh);
    }
}

.starfield {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.starfield-seed-1 {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: parallax 40s linear infinite;
}

.starfield-seed-1:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 1px;
  height: 1px;
  background: transparent;
}

.starfield-seed-2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: parallax 50s linear infinite;
}

.starfield-seed-2:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 2px;
  height: 2px;
  background: transparent;
}

.starfield-seed-3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: parallax 100s linear infinite;
}

.starfield-seed-3:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 3px;
  height: 3px;
  background: transparent;
}

@media all and (min-width: 1441px) {
    $shadows-small  = multiple-box-shadow(1500)
    $shadows-medium = multiple-box-shadow(300)
    $shadows-big    = multiple-box-shadow(50)

    .starfield-seed-1 {
      box-shadow: $shadows-small;
    }

    .starfield-seed-1:after {
      box-shadow: $shadows-small;
    }

    .starfield-seed-2 {
      box-shadow: $shadows-medium;
    }

    .starfield-seed-2:after {
      box-shadow: $shadows-medium;
    }

    .starfield-seed-3 {
      box-shadow: $shadows-big;
    }

    .starfield-seed-3:after {
      box-shadow: $shadows-big;
    }
}

@media all and (max-width: 1440px) {
    $shadows-small  = multiple-box-shadow(500)
    $shadows-medium = multiple-box-shadow(100)
    $shadows-big    = multiple-box-shadow(20)

    .starfield-seed-1 {
      box-shadow: $shadows-small;
    }

    .starfield-seed-1:after {
      box-shadow: $shadows-small;
    }

    .starfield-seed-2 {
      box-shadow: $shadows-medium;
    }

    .starfield-seed-2:after {
      box-shadow: $shadows-medium;
    }

    .starfield-seed-3 {
      box-shadow: $shadows-big;
    }

    .starfield-seed-3:after {
      box-shadow: $shadows-big;
    }
}

@media all and (max-width: 768px) {
    $shadows-small  = multiple-box-shadow(250)
    $shadows-medium = multiple-box-shadow(50)
    $shadows-big    = multiple-box-shadow(10)

    .starfield-seed-1 {
      box-shadow: $shadows-small;
    }

    .starfield-seed-1:after {
      box-shadow: $shadows-small;
    }

    .starfield-seed-2 {
      box-shadow: $shadows-medium;
    }

    .starfield-seed-2:after {
      box-shadow: $shadows-medium;
    }

    .starfield-seed-3 {
      box-shadow: $shadows-big;
    }

    .starfield-seed-3:after {
      box-shadow: $shadows-big;
    }
}
