/*
Nothing to see here :)
Idea by @screenshake
linkedin.com/in/saranshsinha
*/

random(min, max)
    return math(0, 'random') * max + min

random-stellar-color()
    $number = random(0, 100)

    if $number >= 0 and $number <= 50
        return rgba(#FFF, random(0.8, 1))
    else if $number >= 51 and $number <= 65
        return rgba(lighten(red, 90%), 0.5)
    else if $number >= 66 and $number <= 80
        return rgba(lighten(blue, 90%), 0.5)
    else if $number >= 81 and $number <= 95
        return rgba(lighten(gold, 90%) 0.5)
    else
        return rgba(lighten(brown, 90%), 0.5)


multiple-box-shadow($n)
    $color = random-stellar-color()
    $value = '%svw %svh %s' % (random(0, 100) random(0, 100) $color)

    for $i in (2..$n)
        $color = random-stellar-color()
        $value = '%s, %svw %svh %s' % ($value random(0, 100) random(0, 100) $color)

    return unquote($value)

@keyframes parallax {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100vh);
    }
}

.starfield {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.starfield-seed-1 {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: parallax 40s linear infinite;
}

.starfield-seed-1:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 1px;
  height: 1px;
  background: transparent;
}

.starfield-seed-2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: parallax 50s linear infinite;
}

.starfield-seed-2:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 2px;
  height: 2px;
  background: transparent;
}

.starfield-seed-3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: parallax 100s linear infinite;
}

.starfield-seed-3:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 3px;
  height: 3px;
  background: transparent;
}

@media all and (min-width: 1441px) {
    $shadows-small  = multiple-box-shadow(1500)
    $shadows-medium = multiple-box-shadow(300)
    $shadows-big    = multiple-box-shadow(50)

    .starfield-seed-1 {
      box-shadow: $shadows-small;
    }

    .starfield-seed-1:after {
      box-shadow: $shadows-small;
    }

    .starfield-seed-2 {
      box-shadow: $shadows-medium;
    }

    .starfield-seed-2:after {
      box-shadow: $shadows-medium;
    }

    .starfield-seed-3 {
      box-shadow: $shadows-big;
    }

    .starfield-seed-3:after {
      box-shadow: $shadows-big;
    }
}

@media all and (max-width: 1440px) {
    $shadows-small  = multiple-box-shadow(500)
    $shadows-medium = multiple-box-shadow(100)
    $shadows-big    = multiple-box-shadow(20)

    .starfield-seed-1 {
      box-shadow: $shadows-small;
    }

    .starfield-seed-1:after {
      box-shadow: $shadows-small;
    }

    .starfield-seed-2 {
      box-shadow: $shadows-medium;
    }

    .starfield-seed-2:after {
      box-shadow: $shadows-medium;
    }

    .starfield-seed-3 {
      box-shadow: $shadows-big;
    }

    .starfield-seed-3:after {
      box-shadow: $shadows-big;
    }
}

@media all and (max-width: 768px) {
    $shadows-small  = multiple-box-shadow(250)
    $shadows-medium = multiple-box-shadow(50)
    $shadows-big    = multiple-box-shadow(10)

    .starfield-seed-1 {
      box-shadow: $shadows-small;
    }

    .starfield-seed-1:after {
      box-shadow: $shadows-small;
    }

    .starfield-seed-2 {
      box-shadow: $shadows-medium;
    }

    .starfield-seed-2:after {
      box-shadow: $shadows-medium;
    }

    .starfield-seed-3 {
      box-shadow: $shadows-big;
    }

    .starfield-seed-3:after {
      box-shadow: $shadows-big;
    }
}
