@import "../style.styl"
@import "../UI*/demo/*.styl"
@import "syntax_highlighter"

*:last-child {
    margin-bottom: 0;
}

html {
    font-family: San Francisco, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background: #FFF;
    color: color-body;
    line-height: 1.4;
    overflow-x: hidden;
    margin: 0;
    padding: 0 0 0 20em;
}

figure {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.75rem;

    + h1, + h2, + h3, + h4, + h5, + h6 {
        margin-top: 0.5rem;
    }

    &:hover .anchor,
    &:focus .anchor,
    .anchor:focus,
    .anchor:hover {
        opacity: 1;
    }

    .anchor {
        margin-left: 5px;
        opacity: 0;
        text-decoration: none;
        transition: opacity 200ms ease-in-out;

        &::before {
            content: '#';
        }
    }

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin: 0 0 1em;
}

ol ol {
    margin-top: 0.5rem;
}

ol li {
    margin-bottom: 0.5rem;
}

ul li {
    margin-bottom: 1rem;
}

li {
    &:last-child {
        margin-bottom: 0;
    }

    > p:last-child {
        margin-bottom: 0;
    }
}

li > strong + code::after {
    content: '';
    display: block;
}

li > p + pre code,
li > p + code {
    margin-top: 0;
}

li > p + ul,
li > p + ol {
    margin-top: -1em;
    padding-left: 0;

    li {
        list-style-type: none;
    }
}

li > pre,
li > code {
    margin: 0;

    + p {
        margin-top: 1em;
    }
}

li :not(pre) > code {
    display: inline-block;
}

hr {
    border: 0;
    border-top: 1px solid #CCC;
    margin: 2rem -2rem;
}

blockquote {
    background: rgba(gold, 0.1);
    margin: 0 0 1rem;
    padding: 1rem;

    > ul,
    > ol {
        list-style-position: inside;
        margin-left: 0;
        padding-left: 0;
    }
}

table {
    text-align: left;
    width: 100%;
}

th {
    padding-bottom: 0.5rem;
}

pre {
    background: #FFF;
    border-radius: borderRadius;
    color: get-foreground-text-color(color-accent);
    overflow-x: auto;
    margin: 1rem 0;
    padding: 0;

    > code {
        background: transparent;
        border-radius: 0;
        display: block;
        font-size: 0.8em;
        line-height: 1.5;
        padding: 0.75rem 1.5rem;
    }
}

code {
    background: rgba(color-accent, 0.05);
    border-radius: borderRadius;
    display: inline-block;
    font-size: 0.9em;
    margin-bottom: 0;
    padding: 0.1em 0.5em;
    text-decoration: inherit;
}

ul, ol, table, figure {
    margin-bottom: 2rem;
}

ul {
    padding-left: 1.3em;
}

ol {
    padding-left: 1.5em;
}

tbody td {
    padding: 0.5rem;
}

tbody tr:nth-child(odd) {
    background-color: rgba(color-accent, 0.05);
}

::selection {
    background-color: invert(color-accent);
}

.ui-demo-header {
    background: color-accent;
    position: fixed;
    top: 0;
    left: 0;
    width: 20em;
    padding: 2em;
    bottom: 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    a {
        color: #FFF;
        text-decoration: none;
    }
}

.ui-demo-header-title,
.ui-demo-header-desc {
    margin-bottom: 1rem;
}

.ui-demo-header-desc {
    color: lighten(color-accent, 30%);
}

.ui-demo-header-search {
    margin-top: 1.5rem;
}

.ui-demo-nav-item {
    border-bottom: 1px dotted invert(color-accent);
    color: invert(color-accent);
    display: inline;
    margin-bottom: 0.5em;
    text-decoration: none;
}

.ui-demo-nav-item::after {
    content: '\a';
    white-space: pre;
}

.ui-demo-nav-item:hover {
    border-bottom-color: darken(invert(color-accent), 15%);
    color: darken(invert(color-accent), 15%);
}

.ui-demo-nav-section {
    line-height: 1.75;
    margin-top: 1.5rem;
}

.ui-demo-nav-section-title {
    font-size: 1rem;
    font-weight: 400;
    color: lighten(color-accent, 20%);
}

.ui-demo-section {
    margin: 0;
    padding: 2em;
}

.ui-demo-section-example {
    background: rgba(color-accent, 0.05);
    margin: -2em -2em 2em;
    padding: 2em;
}

.ui-demo-section-example > *,
.ui-demo-section-example .ui-spread-even > * {
    margin-bottom: 0;
    margin-top: 0;
}

.ui-spread-even {
    display: flex;
    align-items: flex-start;
}

.ui-spread-even > * {
    flex: 100% 1 1;
}

.ui-align-end {
    align-items: flex-end;
}

.ui-center {
    text-align: center;
}


@media all and (max-width: 1024px) {
    body {
        padding-left: 15em;
    }

    .ui-demo-header {
        width: 15em;
    }
}
