// Skin-specific styles go here. Demo-specific styles go in demo/style.styl.

color-border = #CCC
color-border-focus = #888
color-border-hover = #444
color-border-active = color-text-body

spacer-size = 0.25rem

.ui-tokenfield-wrapper {
    background: #FFF;
    border: 1px solid color-accent;
    border-radius: default-border-radius;
    display: flex;
    font-size: input-font-size;
}

.ui-tokenfield-wrapper .ui-typeahead-wrapper {
    flex-grow: 1;
}

.ui-tokenfield-wrapper .ui-typeahead,
.ui-tokenfield-wrapper .ui-typeahead-hint {
    align-self: stretch;
    background: transparent;
    border-color: transparent !important;
    padding: spacer-size * 2;
}

.ui-tokenfield {
    display: flex;
}

.ui-tokenfield-tokens {
    display: flex;
    flex-shrink: 0;
    margin: spacer-size 0 spacer-size spacer-size;
}

.ui-tokenfield-tokens:empty {
    margin: 0;
}

.ui-tokenfield-token {
    align-items: center;
    align-self: stretch;
    border: 1px solid color-border;
    border-radius: default-border-radius;
    cursor: pointer;
    display: flex;
    line-height: 1;

    margin-right: spacer-size;
    padding: spacer-size (spacer-size * 2);

    white-space: nowrap;

    transition: border-color 200ms ease-in-out,
                background-color 200ms ease-in-out;

    &:focus {
        border-color: color-border-focus;

        .ui-tokenfield-token-close {
            color: color-border-focus;
        }
    }

    &:hover {
        border-color: color-border-hover;

        .ui-tokenfield-token-close {
            color: color-border-hover;
        }
    }

    &:active {
        border-color: color-border-active;
    }

    &:last-child {
        margin-right: 0;
    }
}

.ui-tokenfield-token-selected {
    background-color: rgba(color-accent, 0.25);
    border-color: color-accent;

    .ui-tokenfield-token-close {
        color: color-accent;
    }
}

.ui-tokenfield-token-close {
    color: color-border;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    margin-left: 0.5rem;

    transition: color 200ms ease-in-out;

    &::before {
        content: 'X';
    }
}
