// Skin-specific styles go here. Demo-specific styles go in demo/style.styl.

.ui-tokenfield-wrapper {
    background: background-UITokenizedInput;
    border: 1px solid borderColor-UITokenizedInput;
    border-radius: borderRadius;
    display: flex;
    font-size: fontSize-input;
}

.ui-tokenfield-wrapper .ui-typeahead-wrapper {
    flex-grow: 1;
}

.ui-tokenfield-wrapper .ui-typeahead,
.ui-tokenfield-wrapper .ui-typeahead-hint {
    align-self: stretch;
    background: transparent;
    border-color: transparent !important;
    padding: size-UITokenizedInput_token_spacer * 2;
}

.ui-tokenfield {
    display: flex;
}

.ui-tokenfield-tokens {
    display: flex;
    flex-shrink: 0;
    margin: size-UITokenizedInput_token_spacer 0 size-UITokenizedInput_token_spacer size-UITokenizedInput_token_spacer;
}

.ui-tokenfield-tokens:empty {
    margin: 0;
}

.ui-tokenfield-token {
    align-items: center;
    align-self: stretch;
    background: background-UITokenizedInput_token;
    border: 1px solid borderColor-UITokenizedInput_token;
    border-radius: borderRadius;
    color: color-UITokenizedInput_token;
    cursor: pointer;
    display: flex;
    line-height: 1;

    margin-right: size-UITokenizedInput_token_spacer;
    padding: size-UITokenizedInput_token_spacer (size-UITokenizedInput_token_spacer * 2);

    white-space: nowrap;

    transition: color 200ms ease-in-out,
                border-color 200ms ease-in-out,
                background 200ms ease-in-out;

    &:focus {
        background: background-UITokenizedInput_token-focus;
        border-color: borderColor-UITokenizedInput_token-focus;
        color: color-UITokenizedInput_token-focus;

        .ui-tokenfield-token-close {
            color: color-UITokenizedInput_token_close-focus;
        }
    }

    &:hover {
        background: background-UITokenizedInput_token-hover;
        border-color: borderColor-UITokenizedInput_token-hover;
        color: color-UITokenizedInput_token-hover;

        .ui-tokenfield-token-close {
            color: color-UITokenizedInput_token_close-hover;
        }
    }

    &:active {
        background: background-UITokenizedInput_token-active;
        border-color: borderColor-UITokenizedInput_token-active;
        color: color-UITokenizedInput_token-active;
    }

    &:last-child {
        margin-right: 0;
    }
}

.ui-tokenfield-token-selected {
    background: background-UITokenizedInput_token-selected;
    border-color: borderColor-UITokenizedInput_token-selected;
    color: color-UITokenizedInput_token-selected;

    &:focus {
        background: background-UITokenizedInput_token-selected;
        border-color: borderColor-UITokenizedInput_token-selected;
        color: color-UITokenizedInput_token-selected;

        .ui-tokenfield-token-close {
            color: color-UITokenizedInput_token_close-selected-focus;
        }
    }

    &:hover {
        background: background-UITokenizedInput_token-selected;
        border-color: borderColor-UITokenizedInput_token-selected;
        color: color-UITokenizedInput_token-selected;

        .ui-tokenfield-token-close {
            color: color-UITokenizedInput_token_close-selected-hover;
        }
    }

    .ui-tokenfield-token-close {
        color: color-UITokenizedInput_token_close-selected;
    }
}

.ui-tokenfield-token-close {
    color: color-UITokenizedInput_token_close;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    margin-left: 0.5rem;

    transition: color 200ms ease-in-out;

    &::before {
        content: 'X';
    }
}
