// Skin-specific styles go here. Demo-specific styles go in demo/style.styl.

.ui-table-wrapper,
.ui-table-wrapper * {
    box-sizing: border-box;
}

.ui-table-wrapper {
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 100%;
    transform: translateZ(0);
}

.ui-table {
    border-spacing: 0;
    text-align: left;
    white-space: nowrap;
}

.ui-table-header {
    position: relative;
    z-index: 1;
}

.ui-table-body {
    position: absolute;
    top: height-UITable_cell;
    bottom: 0;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    will-change: transform;
}

.ui-table-row,
.ui-table-cell {
    height: height-UITable_cell;
    line-height: height-UITable_cell;
}

.ui-table-row {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    will-change: transform;
}

.ui-table-row-even {
    background: background-UITable_row-even;
    color: color-UITable_row-even;
}

.ui-table-row-odd {
    background: background-UITable_row-odd;
    color: color-UITable_row-odd;
}

.ui-table-row-loading::before {
   content: '';
   position: absolute;
   top: 50%;
   margin-top: -1px;
   left: 0;
   height: 2px;
   width: 100%;
   background: background-UITable_row-loading;
}

.ui-table-row-loading::before {
    animation: indeterminate 2s linear infinite;
}

@keyframes indeterminate {
  0% {transform: translateX(-100%) scaleX(0.2) }
  20% {transform: translateX(-40%) scaleX(0.2) }
  30% {transform: translateX(0%) scaleX(0.5) }
  55% {transform: translateX(100%) scaleX(0.7) }
  55.99% {transform: scaleX(0) }
  56% {transform: translateX(-100%) scaleX(0) }
  56.99% {transform: translateX(-100%) scaleX(0.6) }
  75% {transform: translateX(-5%) scaleX(0.6) }
  85% {transform: translateX(30%) scaleX(0.3) }
  98% {transform: translateX(100%) scaleX(0.2)}
  99.99% {transform: scaleX(0) }
  100% {transform: translateX(-100%)}
}

.ui-table-row-active {
    background: background-UITable_row-active;
    color: color-UITable_row-active;
}

.ui-table-cell {
    display: inline-block;
    vertical-align: top;
    min-width: 75px;
    padding: 0 paddingX-UITable_cell;
    position: relative;
    user-select: none;
    will-change: contents;
}

.ui-table-cell-inner {
    position: absolute;
    top: 0;
    left: paddingX-UITable_cell;
    right: paddingX-UITable_cell;
    overflow: hidden;
    text-overflow: ellipsis;
    will-change: contents;
}

.ui-table-header-cell {
    background: background-UITable_header;
    color: color-UITable_header;
}

.ui-table-header-cell .ui-table-cell-inner {
    right: paddingX-UITable_cell + 0.5em;
}

.ui-table-header-cell:hover .ui-table-header-cell-resize-handle {
    opacity: 1;
}

.ui-table-header-cell-resize-handle {
    border-right: 2px dotted background-UITable_column_resize_handle;
    cursor: col-resize;
    opacity: 0;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    width: 5px;
    transition: opacity 200ms ease;
}

.ui-table-x-scroll-track,
.ui-table-y-scroll-track {
    background: background-UITable_scroll_track;
    cursor: move;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-duration: 200ms;
    transition-timing: ease;
    z-index: 2;
}

.ui-table-x-scroll-track {
    height: size-UITable_scroll_track;
    margin-right: size-UITable_scroll_track;
    top: auto;
    transition-property: height;
}

.ui-table-x-scroll-track:hover {
    height: size-UITable_scroll_track-expanded;
}

.ui-table-y-scroll-track {
    width: size-UITable_scroll_track;
    left: auto;
    transition-property: width;
}

.ui-table-y-scroll-track:hover {
    width: size-UITable_scroll_track-expanded;
}

.ui-table-x-scroll-handle,
.ui-table-y-scroll-handle {
    backface-visibility: hidden;
    background-color: background-UITable_scroll_handle;
    position: absolute;
}

.ui-table-x-scroll-handle {
    top: 0;
    bottom: 0;
}

.ui-table-y-scroll-handle {
    left: 0;
    right: 0;
}
