// Skin-specific styles go here. Demo-specific styles go in demo/style.scss.

@import "../_globals";

$cell-color-base: $color-accent;
$cell-height: 40px;
$cell-x-padding: 0.75em;

.ui-table-wrapper,
.ui-table-wrapper * {
    box-sizing: border-box;
}

.ui-table-wrapper {
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 100%;
    transform: translateZ(0);
}

.ui-table {
    border-spacing: 0;
    text-align: left;
    white-space: nowrap;
}

.ui-table-header {
    position: relative;
    z-index: 1;
}

.ui-table-body {
    position: absolute;
    top: $cell-height;
    backface-visibility: hidden;
}

.ui-table-row {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.ui-table-row-even {
    background: #fff;
}

.ui-table-row-odd {
    background: rgba($cell-color-base, 0.075);
}

.ui-table-row-loading {
    opacity: 0.5;
}

.ui-table-row-active {
    background: rgba($cell-color-base, 0.25);
}

.ui-table-cell {
    display: inline-block;
    vertical-align: top;
    height: $cell-height;
    line-height: $cell-height;
    min-width: 75px;
    padding: 0 $cell-x-padding;
    position: relative;
    user-select: none;
}

.ui-table-cell-inner {
    position: absolute;
    top: 0;
    left: $cell-x-padding;
    right: $cell-x-padding;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-table-header-cell {
    background: #333;
    color: #FFF;
}

.ui-table-header-cell .ui-table-cell-inner {
    right: $cell-x-padding + 0.5em;
}

.ui-table-header-cell:hover .ui-table-header-cell-resize-handle {
    opacity: 1;
}

.ui-table-header-cell-resize-handle {
    border-right: 2px dotted #FFF;
    cursor: col-resize;
    opacity: 0;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    width: 5px;
    transition: opacity 200ms ease;
}

.ui-table-x-scroller,
.ui-table-y-scroller {
    background: #CCC;
    cursor: move;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-duration: 200ms;
    transition-timing: ease;
    z-index: 2;
}

.ui-table-x-scroller {
    height: 8px;
    top: auto;
    transition-property: height;
}

.ui-table-x-scroller:hover {
    height: 12px;
}

.ui-table-y-scroller {
    width: 8px;
    left: auto;
    transition-property: width;
}

.ui-table-y-scroller:hover {
    width: 12px;
}

.ui-table-x-scroller-nub,
.ui-table-y-scroller-nub {
    backface-visibility: hidden;
    background-color: black;
    position: absolute;
}

.ui-table-x-scroller-nub {
    top: 0;
    bottom: 0;
}

.ui-table-y-scroller-nub {
    left: 0;
    right: 0;
}
