.ui-modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.ui-modal-wrapper .ui-dialog {
    position: relative;
}

.ui-modal-mask {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cancel-button,
.cancel-button:hover,
.cancel-button:focus {
    background: #537C3B;
    border-color: transparent;
    color: white;
}

.cancel-button:hover,
.cancel-button:focus {
    opacity: 0.8;
}
