// Demo-specific styles go here. Skin-specific styles go in ../style.styl.

@import "../../_globals"

.demo-modal-cancel-button,
.demo-modal-cancel-button:hover,
.demo-modal-cancel-button:focus {
    background: color-accent;
    border-color: transparent;
    color: white;
}

.demo-modal-cancel-button:hover,
.demo-modal-cancel-button:focus {
    opacity: 0.8;
}
