// Demo-specific styles go here. Skin-specific styles go in ../style.scss.

@import "../../_globals";

.cancel-button,
.cancel-button:hover,
.cancel-button:focus {
    background: $color-accent;
    border-color: transparent;
    color: white;
}

.cancel-button:hover,
.cancel-button:focus {
    opacity: 0.8;
}
