// Skin-specific styles go here. Demo-specific styles go in demo/style.styl.

.ui-checkbox-group {
    columns: 3;
}

.ui-checkbox-group .ui-checkbox-wrapper + .ui-checkbox-wrapper {
    padding-top: 0.5em;
}
