$cell-color-base: #537C3B;
$cell-height: 40px;
$cell-x-padding: 0.75em;

.ui-table-wrapper,
.ui-table-wrapper * {
    box-sizing: border-box;
}

.ui-table-wrapper {
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 100%;
    transform: translateZ(0);
}

.ui-table {
    border-spacing: 0;
    text-align: left;
    white-space: nowrap;
}

.ui-table-header {
    position: relative;
    z-index: 1;
}

.ui-table-body {
    position: absolute;
    top: $cell-height;
    backface-visibility: hidden;
}

.ui-table-row {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.ui-table-cell {
    background: rgba($cell-color-base, 0.05);
    display: inline-block;
    vertical-align: top;
    height: $cell-height;
    line-height: $cell-height;
    min-width: 75px;
    padding: 0 $cell-x-padding;
    position: relative;
    user-select: none;
}

.ui-table-cell-inner {
    position: absolute;
    top: 0;
    left: $cell-x-padding;
    right: $cell-x-padding;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-table-cell-inner-text {
    user-select: auto;
}

.ui-table-header .ui-table-cell {
    background: #333;
    color: #FFF;
}

.ui-table-y-scroller {
    width: 10px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    transition: width 200ms ease;
}

.ui-table-y-scroller:hover {
    width: 15px;
}

.ui-table-x-scroller {
    height: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    transition: height 200ms ease;
}

.ui-table-x-scroller:hover {
    height: 15px;
}

.ui-table-x-scroller-nub,
.ui-table-y-scroller-nub {
    background-color: black;
    border-radius: 3px;
    position: absolute;
}

.ui-table-x-scroller-nub {
    top: 3px;
    bottom: 3px;
}

.ui-table-y-scroller-nub {
    left: 3px;
    right: 3px;
}
