// Skin-specific styles go here. Demo-specific styles go in demo/style.styl.

caret-size = 16px
caret-adjustment = -3px

.ui-popover {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    outline: 0;
}

.ui-popover .ui-dialog {
    border-color: borderColor-UIPopover_outline;
    box-shadow: none;
    max-width: 400px;
}

.ui-popover-caret {
    position: relative;
    height: caret-size;
    width: caret-size;
}

.ui-popover-caret-border {
    fill: borderColor-UIPopover_outline;
}

.ui-popover-caret-fill {
    fill: background-UIDialog;
}

.ui-popover .ui-dialog-body {
    padding: 0;
}

.ui-popover-anchor-x-middle,
.ui-popover-anchor-y-middle,
.ui-popover-self-x-middle,
.ui-popover-self-y-middle {
    align-items: center;
}

// above the anchor
.ui-popover-anchor-y-start.ui-popover-self-y-end {
    .ui-popover-caret {
        margin-top: caret-adjustment;
        order: 2;
        transform: rotate(180deg);
    }
}

// below the anchor
.ui-popover-anchor-y-end.ui-popover-self-y-start {
    .ui-popover-caret {
        margin-bottom: caret-adjustment;
    }
}

// left of the anchor
.ui-popover-anchor-x-start.ui-popover-self-x-end {
    flex-direction: row;

    .ui-popover-caret {
        margin-left: caret-adjustment;
        order: 2;
        transform: rotate(90deg);
    }
}

// right of the anchor
.ui-popover-anchor-x-end.ui-popover-self-x-start {
    flex-direction: row;

    .ui-popover-caret {
        margin-right: caret-adjustment;
        transform: rotate(-90deg);
    }
}
