// Skin-specific styles go here. Demo-specific styles go in demo/style.styl.

.ui-checkbox-wrapper {
    display: flex;
}

.ui-checkbox,
.ui-checkbox-label {
    cursor: pointer;
}

.ui-checkbox-label {
    line-height: 1.1;
    padding-left: 0.25em;
}

.ui-checkbox {
    appearance: none;
    border: 1px solid borderColor-UICheckbox;
    border-radius: borderRadius;
    box-shadow: none;
    flex-shrink: 0;
    margin: 0 3px 0;
    padding: 0;
    height: 16px;
    width: 16px;

    transition: border-color 200ms ease;
}

.ui-checkbox:hover {
    border-color: borderColor-UICheckbox-hover;
}

.ui-checkbox:focus {
    border-color: borderColor-UICheckbox-focus;
}

.ui-checkbox-checked {
    background: background-UICheckbox-checked;
    border-color: borderColor-UICheckbox-checked;
}

.ui-checkbox-mixed {
    background: background-UICheckbox-indeterminate;
}

.ui-checkbox-checked,
.ui-checkbox-mixed {
    box-shadow: 0 0 0 1px boxShadowColor-UICheckbox inset;
}
