// Skin-specific styles go here. Demo-specific styles go in demo/style.styl.

.ui-disclosure {
    cursor: pointer;
}

.ui-disclosure-toggle {
    color: color-UIProgressiveDisclosure;
    display: inline-block;
    font-size: 0.75rem;
    padding-left: 15px;
    position: relative;
}

.ui-disclosure-toggle::before {
    content: '';
    border-width: 5px;
    border-color: transparent;
    border-left-color: borderColor-UIProgressiveDisclosure_arrow;
    border-style: solid;
    position: absolute;
    margin-top: -5px;
    top: 50%;
    left: 4px;
}

.ui-disclosure-expanded > .ui-disclosure-toggle::before {
    border-top-color: borderColor-UIProgressiveDisclosure_arrow;
    border-left-color: transparent;
    margin-top: -3px;
    left: 0;
}

.ui-disclosure-content {
    display: none;
    margin-top: 0.5rem;
}

.ui-disclosure-expanded > .ui-disclosure-content {
    display: block;
}
