// Skin-specific styles go here. Demo-specific styles go in demo/style.scss.

@import "../_globals";

.ui-button {
    background: transparent;
    border: 1px solid $color-text-body;
    border-radius: $default-border-radius;
    color: $color-text-body;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
    padding: 0.5rem 0.75rem;
    vertical-align: middle;
    white-space: nowrap;

    transition: all 200ms ease;
}

.ui-button[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
}

.ui-button:hover,
.ui-button:focus {
    border-color: $color-accent;
    color: $color-accent;
    outline: 0;
}

.ui-button:active,
.ui-button-pressed {
    background: $color-accent;
    color: #FFF !important;
}

.ui-button + .ui-button {
    margin-left: 15px;
}

.ui-button-pressable {
    width: 100px;
}
