// Skin-specific styles go here. Demo-specific styles go in demo/style.styl.

.ui-button {
    appearance: none;
    background: background-UIButton;
    border: 1px solid borderColor-UIButton;
    border-radius: borderRadius;
    color: color-UIButton;
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    padding: 0.5rem 0.75rem;
    vertical-align: middle;
    white-space: nowrap;

    transition: all 200ms ease;
}

.ui-button:hover {
    background: background-UIButton-hover;
    border-color: borderColor-UIButton-hover;
    color: color-UIButton-hover;
}

.ui-button:focus {
    background: background-UIButton-focus;
    border-color: borderColor-UIButton-focus;
    color: color-UIButton-focus;
}

.ui-button:active {
    background: background-UIButton-active;
    border-color: borderColor-UIButton-active;
    color: color-UIButton-active;
}

.ui-button.ui-button-pressed {
    background: background-UIButton-pressed;
    border-color: borderColor-UIButton-pressed;
    color: color-UIButton-pressed;
}

.ui-button[disabled] {
    background: background-UIButton-disabled;
    border-color: borderColor-UIButton-disabled;
    color: color-UIButton-disabled;
    cursor: not-allowed;
    opacity: 0.3;
}

.ui-button + .ui-button {
    margin-left: 15px;
}

.ui-button-pressable {
    width: 100px;
}
